<h1 align="center">Desarrollo Economico</h1>

<div style="position: relative; margin: auto; width: 90%;">
<div align="center">
    <apx-chart
      [series]="G1_series"
      [chart]="G1_charts"
      [xaxis]="G1_xaxis"
      [dataLabels]="G1_dataLabels"
      [grid]="G1_grid"
      [stroke]="G1_stroke"
      [title]="G1_title"
    ></apx-chart>
</div>



<div >
    <apx-chart
      [series]="G2_series"
      [chart]="G2_chart"
      [dataLabels]="G2_dataLabels"
      [plotOptions]="G2_plotOptions"
      [yaxis]="G2_yaxis"
      [legend]="G2_legend"
      [fill]="G2_fill"
      [stroke]="G2_stroke"
      [tooltip]="G2_tooltip"
      [xaxis]="G2_xaxis"
      [title]="G2_title"
    ></apx-chart>
  </div>
</div>
